services:
  api:
    # build:
    #   context: .
    #   target: final
    image: ghcr.io/${GITHUB_OWNER}/api:latest
    container_name: api
    restart: always
    environment:
      - DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=false
      - ASPNETCORE_ENVIRONMENT=Development
      - DB_SERVER=${DB_SERVER}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - ELASTIC_URL=http://elasticsearch:9200
    ports:
      - 8080:8080
    volumes:
      - data-protection-keys:/Keys
      - image-uploads:/Uploads
    depends_on:
      - postgres
      - redis
      - elasticsearch
    networks:
      - webproxy

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    # ports:
    #   - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - webproxy

  nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - 443:443
      - 81:81
      - 80:80
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - webproxy

  redis:
    image: redis:7
    container_name: redis
    # ports:
    #   - 6379:6379
    volumes:
      - redis-data:/data
    command: [
      "redis-server",
      "--appendonly", "yes",
      "--requirepass", "${REDIS_PASSWORD}"
    ]
    restart: unless-stopped
    networks:
      - webproxy

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    restart: unless-stopped
    ports:
      - 9200:9200
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - es-data:/usr/share/elasticsearch/data
    networks:
      - webproxy

volumes:
  data-protection-keys:
  pgdata:
  image-uploads:
  redis-data:
  es-data:

networks:
  webproxy:
    driver: bridge